---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Cuprate"
	description="About Cuprate"
	pubDate={new Date('June 6 2024')}
>
	<p style="">
		Cuprate is an ongoing effort at implementing a fully functional <a href="https://getmonero.org">Monero</a> node in the <a href="https://rust-lang.org">Rust programming language</a>.
	</p>
	
	<p>
		The projects aim is to make an alternative implementation of Monero that is performant, modern and secure. It will contribute to node diversity and resilience of
		the Monero network as whole against implementation vulnerabilities. It will also contribute as a new way for more contributors to help Monero, hopefully extending the pool of 
		developers working on Monero.
	</p>

	<p style="text-align: center;">
		Cuprate wouldn't be possible without the Monero Community<br> and the wisdom of its contributors:
	</p>
	
	<a href = "https://github.com/Cuprate/cuprate/graphs/contributors">
	   <img style="position: relative; display: block; margin-left: auto; margin-right: auto" src = "https://contrib.rocks/image?repo=Cuprate/cuprate"/>
	</a>
</Layout>
